{% extends "base.html.twig" %}

{% block title %}Photographie{% endblock %}


{% block body %}
<section id="photo" class="section-fix">
  <div class="container">
    <div class="title-content">
      <hr class="hr-left">
      <h1>Reportage photographique</h1>
      <hr class="hr-right">
    </div>
    {% for photo in photos %}
        <div class="p-5 mb-5 mx-auto {% if loop.index is divisible by(2) %} d-flex flex-row-reverse {% else %} row {% endif %}">
            <div class="col-lg-6">
                <h2>{{ photo.title }}</h2>
                <p>{{ photo.content|raw }}</p>
                <div class="text-center my-5">
                  <a class="btn btn-secondaire" href="{{ path('contact_index') }}" role="button">Demander un devis</a>
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    {% for images in gallery %}                       
                      {% if photo.id == images.service.id %}  
                      {% set first = images.service.id %}          
                        <div class="carousel-item {% if loop.index == first %} active {% endif %}">
                          <img class="d-block w-100" src="{{ asset('/uploads/' ~ images.name) }}" alt="First slide">
                      </div>
                      {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>  
    {% endfor %}
      
  </div>
</section>
{% endblock %}