
<div class="row" id="contact">
    <div class="col-lg-6 ml-auto left-text bg-info">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            <div class="left-center-part text-center">
                <h2>Contact</h2>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                    earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                    earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                    earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                    earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                    </p>
            </div>
        </div>
</div>