<div class="vNav">
    <ul class="vNav">
        <li> <a href="#section01" data-target="#section01" class="active"> <span class="label">Section01</span> </a> </li>
        <li> <a href="#section02" data-target="#section02" class=""> <span class="label">Section02</span> </a> </li>
        <li> <a href="#section03" data-target="#section03" class=""> <span class="label">Section03</span> </a> </li>
        <li> <a href="#section04" data-target="#section04" class=""> <span class="label">Section04</span> </a> </li>
        <li> <a href="#section05" data-target="#section05" class=""> <span class="label">Section05</span> </a> </li>
    </ul>
</div>

<script>
$(document).ready(function ($) {
    var parPosition = [];
    $('.par').each(function () {
        parPosition.push($(this).offset().top);
    });

    $('a').click(function () {
        $('html, body').animate({
            scrollTop: $($.attr('data-target')).offset().top
        }, 500);
        return false;
    });

    $('.vNav ul li a').click(function () {
        $('.vNav ul li a').removeClass('active');
        $(this).addClass('active');
    });

    $('.vNav a').hover(function () {
        $(this).find('.label').show();
    }, function () {
        $(this).find('.label').hide();
    });

    // $(document).scroll(function () {
    //     var position = $(document).scrollTop(),
    //         index;
    //     for (var i = 0; i < parPosition.length; i++) {
    //         if (position <= parPosition[i]) {
    //             index = i;
    //             break;
    //         }
    //     }
    //     $('.vNav ul li a').removeClass('active');
    //     $('.vNav ul li a:eq(' + index + ')').addClass('active');
    // }).scroll();

    // $('.vNav ul li a').click(function () {
    //     $('.vNav ul li a').removeClass('active');
    //     $(this).addClass('active');
    // });
});
</script>