<div class="vNav">
    <ul class="vNav">
        <li> <a href="#section01" data-target="#section01" class="active"> <span class="label">Section01</span> </a> </li>
        <li> <a href="#section02" data-target="#section02" class=""> <span class="label">Section02</span> </a> </li>
        <li> <a href="#section03" data-target="#section03" class=""> <span class="label">Section03</span> </a> </li>
        <li> <a href="#section04" data-target="#section04" class=""> <span class="label">Section04</span> </a> </li>
        <li> <a href="#section05" data-target="#section05" class=""> <span class="label">Section05</span> </a> </li>
    </ul>
</div>

