{% set route_name = app.request.attributes.get('_route') %}
<footer class="section fp-auto-height pt-0" id="footer">

    <div class="container text-center text-md-left pt-2">

        <div class="row mt-5">  

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2"> 

                <h6 class="text-uppercase font-weight-bold">MAD STUDIO</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto">
                <p>Retrouvez-moi sur les réseaux sociaux !
                </p> 

                <div class="mb-4">
                    <button class="btn rs mr-3">
                        <i class="fab fa-facebook-f"> </i>
                    </button>
                    <button class="btn rs mr-3">
                        <i class="fab fa-linkedin-in"> </i>
                    </button>
                    <button class="btn rs mr-3">
                        <i class="fab fa-instagram"> </i>
                    </button>        
                </div> 

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2"> 
                <h6 class="text-uppercase font-weight-bold">SERVICES</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="{{ path('photo_index') }}">Photographie</a>
                </p>
                <p>
                    <a href="{{ path('site_index') }}">Site internet</a>
                </p>
                <p>
                    <a href="{{ path('pack_index') }}">Full Pack</a>
                </p>    
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2"> 
                <h6 class="text-uppercase font-weight-bold">LIENS</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="{{ path('mentions_index') }}" target="_blank">Mentions Légales</a>
                </p>
                <p>
                    <a href="#!">Questions / Réponses (FAQ)</a>
                </p>    
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2"> 
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto">
                <p>
                  <i class="fas fa-home mr-3"></i> 06000 Nice - FRANCE
                </p>
                <p>
                  <i class="fas fa-envelope mr-3"></i> contact@madstudio.fr
                </p>
                <p>
                  <i class="fas fa-phone mr-3"></i> 06 59 82 67 77
                </p>    
            </div>

        </div>

    </div>

    <div class="footer-copyright text-center">
        © Copyright 2020
        <a href="https://madstudio.fr/"> madstudio.fr</a>
        - Tous droits réservés
    </div>

</footer>




