{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<section id="mentions" class="pb-5">
    <div class="container mentions-container text-center mb-5">
        <hr class="hr-left">
        <h1>Mentions légales</h1>
        <hr class="hr-right">
    </div>
    <div class="container mb-5">
        <h2>Identité</h2>
        <p><strong>MAD STUDIO</strong> est une micro-entreprise immatriculée au Répertoire des Métiers sous le numéro 817498173RM. <br>
            SIRET : 817 498 173 00027 
        </p>
        <p><strong>Marie Amandine DELALONDRE</strong><br>
           1C place Jules Musso, <br>
           06730 SAINT ANDRE DE LA ROCHE, FRANCE
        </p>
        <a href="mailto:contact@madstudio.fr"><strong>contact@madstudio.fr</strong></a>
        <p>
           06.59.82.67.77
        </p>
    </div>
    <div class="container mb-5">
        <h2>Hébergement</h2>
        <p>OVH SAS au capital de 10 069 020 € <br>
           Siège social : 2 rue Kellermann - 59100 Roubaix - France
        </p>
        <a href="https://www.ovh.com/fr/" target="_blank">https://www.ovh.com</a>
    </div>
    <div class="container mb-5">
        <h2>Crédits photographies</h2>
        <p>
           Les images de ce site crées par <strong>Marie Amandine DELALONDRE - © MAD STUDIO</strong> restent sa propriété et ne sont pas libre de droit pour toute utilisation commerciale. <br> 
           Pour toute utilisation non-commerciale, merci de créditer.
        </p>
        <p>
           Certaines images de ce site sont tirées de banques d'images libre de droit et le restent pour toute utilisation.
        </p>
        
    </div>
    <div class="container mb-5">
        <h2>Politique relative aux données personnelles</h2>
        <div>
            <h4>CNIL</h4>
            <p>Chaque utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression de ses données personnelles
                <em>(art.34 de la loi "Informatique et Libertés" n° 78-17 du 16 janvier 1978)</em>. Pour exercer ce droit, merci de contacter :
            </p>
            <p><strong> Marie Amandine DELALONDRE</strong><br>
               1C place Jules Musso, <br>
               06730 SAINT ANDRE DE LA ROCHE, FRANCE <br>
               06.59.82.67.77
            </p>
        </div>
        <div class="mt-5">
            <h4>Google Analytics</h4>
            <p>Afin d'améliorer la navigation sur ce site et proposer du contenu cohérent, <strong>Google Analytics</strong>
               est installé sur ce site. <br>
               Vous avez la possibilité accepter ou refuser de recevoir des cookies sur votre ordinateur.
            </p>
            <p>Pour consulter les règles de confidentialité relatives à l’utilisation de Google Analytics, 
               cliquez sur le lien ci-dessous.</p>
            <a href="http://www.google.com/intl/fr/policies/privacy" target="_blank">http://www.google.com/intl/fr/policies/privacy</a>
        </div>
    </div>




</section>
   
{% endblock %}