{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<section id="mentions" class="section-fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <h1 class="text-center">Mentions légales</h1>
            </div>
            <div>
                <h2>Identité</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum suscipit amet animi, cum perspiciatis ab molestias repudiandae quis quidem rem modi a odio neque ullam et voluptas repellat deserunt accusamus?</p>
            </div>
            <div>
                <h2>Hébergement</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro beatae. Enim magnam nostrum ad quos debitis, culpa eveniet autem beatae! Esse consequatur dicta cumque nihil! Aut molestiae quae eveniet.</p>
            </div>
            <div>
                <h2>Crédits photographies</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, cumque! Blanditiis perferendis fugit necessitatibus a? Sint blanditiis rerum maiores fugit deserunt quas fuga incidunt, suscipit reiciendis modi, explicabo quasi sunt.</p>
            </div>
            <div>
                <h2>Reccueil des données personnelles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis minima animi enim inventore dolorum! Delectus earum aspernatur exercitationem incidunt quas natus quod, voluptates nisi laborum amet magnam totam voluptatum!</p>
            </div>


        </div>
    </div>
</section>
   
{% endblock %}