<section id="accueil" class="section section1">
    <div class="container">
        <div class="row" id="accueil-animate">
            <div class="col-md-7">
                <img src="/images/logo-white.png" class="img-fluid" alt="">
                <h1>Photographe et créatrice de site web actuel <br>
                    au service d'un artisanat authentique.
                </h1>
            </div>
        </div>
    </div>
</section>
