<section id="arguments" class="section section5">
	<div class="container my-5 p-3">
    		<div class="row text-center">
      			<h1 class="mx-auto my-5">Pourquoi choisir MAD STUDIO ?</h1>
    		</div>
    		<div class="row">
			{% for argument in arguments %}
      			<div class="col-lg-6 col-md-12 mt-3 px-5">
        			<h3>{{ argument.title }}</h3>
        			<p>{{ argument.content|raw }}</p>
      			</div>
			{% endfor %}
			</div>
			<div class="text-right">
				<h4>Besoin de renseignements complémentaires ? </h4>
				<p>Envoyez moi un message, je répondrai à toutes vos questions !</p>
                <a class="" href="{{ path('contact_index') }}" role="button">Contact</a>
            </div>
		</div>
</section>

