<section id="edito" class="section section2">
    <div class="container">
    {% for edito in editos %}
        <div class="row">
            <div class="col-lg-8" id="bloc-edito">
                {# <h1 class="text-center">{{ edito.title }}</h1> #}
                <h4>{{ edito.content|raw }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
    {% endfor %}
</section>
    