<div class="container-fluid section par" id="section02">
    <div class="row flex-column-reverse flex-lg-row row-no-margin">
        <div class="col-lg-6 p-0 m-0">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <h4 class="d-flex align-items-center justify-content-center min-vh-100">slide 1</h4>
                    </div>
                    <div class="carousel-item">
                        <h4 class="d-flex align-items-center justify-content-center min-vh-100">slide 2</h4>
                    </div>
                    <div class="carousel-item">
                        <h4 class="d-flex align-items-center justify-content-center min-vh-100">slide 3</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 left-text text-center bg-about">
            <div class="left-center-part">
                <h2>Edito</h2>
                <p class="p-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt laboriosam magni minima, asperiores cupiditate culpa similique ex distinctio consequuntur quos vero officiis
                earum atque odit? Repellendus dolore consequatur incidunt ducimus!
                </p>
            </div>
        </div>
    </div>
</div>