<section id="main-photo" class="section section3 m-0 p-0">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-5 align-self-center bloc-services">
                <h1>Photographie</h1>
                <p class="lead">Des images professionnelles de qualité pour vous démarquer.</p>
                <p>
                    Afin de vous aider dans la communication de votre entreprise, je réalise les visuels qui viendront alimenter votre site internet, vos réseaux sociaux et supports divers.
                </p>

                <div id="carousel-photo" class="carousel slide mt-5" data-ride="carousel" data-interval="6000">

                    <div class="carousel-inner carousel-services">
                    {% for photo in photos %}
                        <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                        {% if photo.icon %}
                            <span><img src="{{ vich_uploader_asset(photo, 'iconFile') }}" alt="" class="icon-service"></span>
                        {% endif %}
                            <h2 class="mb-0">{{ photo.title }}</h2>
                            <p>{{ photo.intro|raw }}</p>
                        </div>
                    {% endfor %}
                    </div>

                    <div class="row arrow-control-services">
                        <a class="carousel-control left align-self-center mr-1" href="#carousel-photo" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control right" href="#carousel-photo" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>

                </div>
                <div class="text-center my-5">
                    <a class="btn btn-secondaire" href="{{ path('photo_index') }}" role="button">En savoir +</a>
                </div>

            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 m-0 p-0">

                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="8000">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div id="img-slide-1" class="img-slide"></div>
                        </div>
                        <div class="carousel-item">
                            <div id="img-slide-2" class="img-slide"></div>
                        </div>
                        <div class="carousel-item">
                            <div id="img-slide-3" class="img-slide"></div>
                        </div>
                    </div>
    
                </div>

            </div>
        </div>
    </div>
</section>