{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container p-5">
        <h4>Editer le service : "{{ service.title }}"</h4>
        {{ include ('admin/content/prestations/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/images.js') }}"></script>
{% endblock %}