<section id="section01" class="section-1 section-1-1 par">
    <div class="container-fluid img-bg bloc-overlay">
        <div class="bloc-overlay"></div>
        <div class="row text-center align-items-center h-100">
            <div class="col-12">
                <img src="#" alt="Logo MAD STUDIO">
                <h1>Photographe et créatrice de site web</h1>
                <h2>Pour les artisans - créateurs d'aujourd'hui qui souhaitent perdurer demain.</h2>
            </div>
        </div>
    </div>
</section>
