<div id="section-1" class="container-fluid bg-success">
    <div class="row text-center align-items-center h-100">
        <div class="col-12">
            <img src="#" alt="Logo MAD STUDIO">
            <h1>Photographe et créatrice de site web</h1>
            <h2>Pour les artisans - créateurs d'aujourd'hui qui souhaitent perdurer demain.</h2>
        </div>
    </div>
</div>
