<div class="container-fluid bg-arguments section" id="section05">
    <div class="row text-center align-items-center justify-content-center">
        <div class="col-9">
            <h1>Parce que mon travail est de mettre le votre en avant.</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi consequatur iusto odit asperiores beatae ex reprehenderit voluptates. At, et? Commodi nam similique, reiciendis iste voluptatem veniam laudantium voluptate delectus nesciunt?</p>
        </div>

        <div class="row d-flex justify-content-between mx-5 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
            <div class="card-deck my-2">
                <div class="card text-center">
                    <img src="..." class="card-img-top w-50 mx-auto pt-4" alt="..." alt="Card image cap">
                    <div class="card-body p-0 d-flex align-items-stretch flex-column">
                        <h2 class="card-title py-4">Des solutions adaptées</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="card-deck my-2">
                <div class="card text-center">
                    <img src="..." class="card-img-top w-50 mx-auto pt-4" alt="..." alt="Card image cap">
                    <div class="card-body p-0 d-flex align-items-stretch flex-column">
                        <h2 class="card-title py-4">Des solutions adaptées</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="card-deck my-2">
                <div class="card text-center">
                    <img src="..." class="card-img-top w-50 mx-auto pt-4" alt="..." alt="Card image cap">
                    <div class="card-body p-0 d-flex align-items-stretch flex-column">
                        <h2 class="card-title py-4">Des solutions adaptées</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="card-deck my-2">
                <div class="card text-center">
                    <img src="..." class="card-img-top w-50 mx-auto pt-4" alt="..." alt="Card image cap">
                    <div class="card-body p-0 d-flex align-items-stretch flex-column">
                        <h2 class="card-title py-4">Des solutions adaptées</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>