<div class="container-fluid bg-success section">
    <div class="row">
        <h1>Parce que mon travail est de mettre le votre en avant.</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="#" alt="">
                <h2>Des solutions adaptées</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo soluta, modi commodi similique ea, nisi.</p>
            </div>
            <div class="col-4">
                <img src="#" alt="">
                <h2>Une expertise visuelle</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo soluta, modi commodi similique ea, nisi.</p>
            </div>
            <div class="col-4">
                <img src="#" alt="">
                <h2>Disponible partout en France</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo soluta, modi commodi similique ea, nisi.</p>       
            </div>
            <div class="col-4">
                <img src="#" alt="">
                <h2>Suivi dans le temps</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo soluta, modi commodi similique ea, nisi.</p>
            </div>
        </div>
    </div>
</div>