<div class="container-fluid bg-primary section">
    <div class="row row-no-margin">
        <div class="col-md-6 left-text">
            <div class="left-center-part">
                <h2 class="text-secondary">Photographie</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, debitis laborum ipsa soluta id ea ratione eos. Dolorem delectus est obcaecati, perferendis sint totam dolore et, repudiandae repellat, debitis minima.</p>
                <div id="carousel-services" class="carousel slide" data-interval="6000" data-ride="carousel">
                    <ol class="bullets carousel-indicators">
                        <li data-target="#carousel-services" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-services" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-services" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-6 block-services">
                                    <span class="icon-services"></span>
                                    <h3 class="text-secondary">Packshot produit</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae, quod, nisi cumque accusamus doloribus eveniet minima itaque.</p>
                                    <span><em> A partir de 250€</em></span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6 block-services">
                                    <span class="icon-services"></span>
                                    <h3 class="text-secondary">Portrait corporate</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae, quod, nisi cumque accusamus doloribus eveniet minima itaque.</p>
                                    <span><em>A partir de 90€</em></span>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-6 block-services">
                                    <span class="icon-services"></span>
                                    <h3 class="text-secondary">Gestes et savoir-faire</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae, quod, nisi cumque accusamus doloribus eveniet minima itaque.</p>
                                    <span><em>A partir de 250€</em></span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6 block-services">
                                    <span class="icon-services"></span>
                                    <h3 class="text-secondary">Reportage complet</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestiae, quod, nisi cumque accusamus doloribus eveniet minima itaque.</p>
                                    <span><em>A partir de 450€</em></span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="mt-3">
                        <a class="carousel-control-left" href="#carousel-services" role="button" data-slide-to="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control-right" href="#carousel-services" role="button" data-slide-to="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                </div>
            </div>            
        </div>

        <!-- bloc droit -->
        <div class="col-md-6 p-0 m-0">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <h4 class="d-flex align-items-center justify-content-center min-vh-100">slide 1</h4>
                    </div>
                    <div class="carousel-item">
                        <h4 class="d-flex align-items-center justify-content-center min-vh-100">slide 2</h4>
                    </div>
                    <div class="carousel-item">
                        <h4 class="d-flex align-items-center justify-content-center min-vh-100">slide 3</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>