{% extends "base.html.twig" %}

{% block title %}Page à propos{% endblock %}

{% block body %}

<section id="about" class="container-fix">
    {% for about in about %}
    <div class="container mt-5">
        <h1 class="text-center pb-5">{{ about.title }}</h1>
        <div class="row">
            <div class="col-md-6 text-center m-auto">
                <img src="{{ about.image }}" alt="Autoportrait" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>{{ about.presentation|raw }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
   
{% endblock %}