{% extends "base.html.twig" %}

{% block title %}Page à propos{% endblock %}

{% block body %}

    <div class="container-fluid bg-primary">
    {% for about in about %}
        <div class="d-flex justify-content-around align-items-center h-100">
            <div class="text-center">
                <h2 class="white-text">{{ about.title }}</h2>
            </div>
            <div class="row">   
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p>{{ about.presentation|raw }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img src="{{ about.image }}" alt="Autoportrait">
                </div>
            </div> 
    {% endfor %}
        </div>
    </div>
    
{% endblock %}